<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.icon">

     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    
    <script type="text/javascript">
      $(document).on("click", "#write-btn", () => {
                console.log("AJAXing")
                      $.ajax({
                          type: 'POST',
                          url: '/create_new_blog',
                          data: JSON.stringify({
                            title: $('#title').val()
                          })
                       }).done((dataJSON) => {
                        console.log(dataJSON)
                        let data = JSON.parse(dataJSON)
                        if (data.success === 1) {
                          window.location.href = `./write_blogs?id=${data.id}`
                        } else {
                          alert("Something Went Wrong (Server)")
                        }
                       }).fail((xhr) => {
                          alert("Something Went Wrong (Network)")
                       }).always(() => {
                        //alert("AJAX COmplete")
                       });
  
           })

      

    </script>


     <style type="text/css">
      body {
        font-family: Cabin;
      }

      .container{
        margin-left: auto;
        margin-right: auto;


      }

      .fa-facebook {
  color: #333333;
 }

.fa-facebook:hover {
  color: #4267B2;
 }


.fa-twitter {
  color: #333333;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-google {
  color: #333333;
 }

 .fa-google:hover {
  color: #4285F4;
 }



.fa-linkedin {
  color: #333333;
  
}
.fa-linkedin:hover {
  color: #0e76a8 ;
  
}

.fa-youtube {
  color:  #333333;
}

.fa-youtube:hover {
  color:  #FF0000;
}

.fa-instagram {
  color: #333333 ;
  
}
.fa-instagram:hover {
  color: #8a3ab9 ;
  
}

.fa-pinterest {
  color: #333333;
}
.fa-pinterest:hover {
  color: #E60023;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
  
}

.centerclass {
  justify-content: center;
}


@media only screen and (max-width: 600px) {

  img#img1 {
    display: none;
  }

  #sh {
    text-align: center !important;
    padding-top: 10px;
  }

  #bh {
    text-align: center;
    padding-top: 50px;
  }
  


  }



     </style>

    <title>Home</title>
  </head>
  <body>


<!-- navbar starts here -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" >Title</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin_blog">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/my_blogs" tabindex="-1">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/logout" tabindex="-1">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar ends here -->







<!-- header Starts -->



      <div class="d-lg-flex align-items-lg-center height-85vh--lg" style="background-color: #f9c1b1;
background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
height: 350px; width: auto;" >
        <div class="container space-2 space-0--lg mt-lg-8">
          <div class="row justify-content-lg-between align-items-lg-center">

            <div class="col-lg-5 mb-7 mb-lg-0 text-uppercase d-block" style="color: #f2f2f2">
              <!-- Title -->
              <p id="bh" style="font-size: 60px">admin panel</p>
              <!-- End Title -->
            </div>

            <div class="col-lg-5 mb-7 mb-lg-0">
              <!-- Title -->
              <img id="img1" src="/static/Blogging-pana.svg" style="height: 362px">
              <!-- End Title -->
            </div>
          </div>
        </div>
      </div>
       
  

<!-- header Ends -->







<!-- body starts -->


<br>
<br>

<div class="container centerclass">

  <div class="row text-center">


          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>My Blogs</h2>
            <p>See the blogs, do edit.</p>
            <p><a class="btn btn-secondary" href="/my_blogs" role="button">View Blogs »</a></p>
          </div><!-- /.col-lg-4 -->


          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Write Blogs</h2>
            <p>Write new blogs, explore new content.</p>
            <p><a class="btn btn-secondary" role="button" data-toggle="modal" data-target="#exampleModal" style="color: white">Write Blogs »</a></p>


                <!-- Modal for title-->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">


                    <div class="modal-header">
                      <h5 class="modal-title">Create a Title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    
                    <div class="modal-body">
                      <div class="form-group">
                      <label for="recipient-name" class="col-form-label float-left">Title :</label>
                      <input type="text" class="form-control border-0" id="title" name="title" placeholder="Enter the title..." required="title">
                    </div>
                    </div>
                    


                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit button" class="btn btn-primary" id="write-btn">Create</button>
                    </div>


                  </div>
                </div>
              </div>
            


          </div><!-- /.col-lg-4 -->


          
  
</div>
</div>








<!-- body ends -->





<!-- footer starts -->

<footer class="container" style="padding-top: 40px">
  <hr class="featurette-divider">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. &nbsp  
          <span style='font-size:20px;'>&#8226;</span><a href="#">Privacy Policy</a> 
          <span style='font-size:20px;'>&#8226;</span> <a href="#">Terms & Condition</a>   

          <!-- Social buttons -->
<br>
<br>
  <ul class="list-unstyled list-inline text-center">
    <h4 style="color: #333333">Connect with Us</h4>
    <li class="list-inline-item">
      <a href="#" class="fa fa-facebook"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-twitter"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-google"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-linkedin"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-youtube"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-instagram"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-pinterest"></a>
    </li>
  </ul>
  <!-- Social buttons -->
  </p>
</footer>

<!-- footer ends -->


  
  </body>
</html>